body {
	margin: 0;
	font-family: 'Hind Siliguri', sans-serif;
	display: grid;
	height: 100vh;
	grid-template-rows: 1fr auto;
}

main {
	display: grid;
	grid-template-rows: 1fr auto auto;
	padding: 2rem 1rem;
	max-width: 900px;
	margin: 0 auto;
}

.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.box img {
	width: 200px;
}
.box h1 {
	margin-bottom: 0;
	color: #1e3a8a;
	font-size: 3rem;
	text-align: center;
	line-height: 100%;
}
.box p {
	text-align: center;
	color: #4b5563;
	font-size: 21px;
	margin-top: 14px;
}

.contact {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.social {
	display: flex;
	justify-content: center;
	padding: 2rem 0;
}

.social a {
	display: flex;
	align-items: center;
	font-weight: 600;
	text-decoration: none;
	padding: 0.8rem 2rem;
	border-radius: 4px;
	color: #f8f8f8;
	background-color: #25d366;
	font-size: 20px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.social a:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.social a svg {
	margin-right: 0.7rem;
}

.contact a {
	font-size: 20px;
	padding: 1rem 3rem;
	text-decoration: none;
	color: #3b82f6;
	display: flex;
	align-items: center;
}
.contact a svg {
	margin-right: 0.7rem;
}

.contact a:hover {
	text-decoration: underline;
}

footer {
	max-width: 900px;
	margin: 0 auto;
	font-size: 14px;
	padding: 0 1rem;
	color: #6b7280;
	line-height: 1.4;
}

.account {
	background: #00b4db; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#0083b0,
		#00b4db
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#0083b0,
		#00b4db
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-left: 24px;
}

@media only screen and (max-width: 500px) {
	.box h1 {
		font-size: 2rem;
	}
	.box p {
		font-size: 16px;
	}
	.box img {
		width: 125px;
	}
	.social {
		flex-direction: column;
	}
	.social a {
		text-align: center;
		margin: 16px auto;
	}
	.account {
		margin-left: 0;
		margin-top: 24px;
	}
}
